{% extends 'base.html' %}

{% block body_class %}post-template{% endblock%}

{% block content %}

<div class="container">
  <header>
    <h1>{{file.title}}</h1>
  </header>

  <div class="tilecont {{file.title | lower}}">
    <a href='/' class='singletile'>
      <p class='tilecontents'>back</p>
      <div></div><span><i class="fa fa-arrow-left fa-5x"></i></span>
    </a>
    <a class='singletile {{file.title | lower}}'><div></div></a>
    <a class='singletile {{file.title | lower}}'><div></div></a>
    <section class='aboutbody'>
      {{file.content | safe}}
      <a href='/' class='goback'>back</a>
    </section><!--aboutbody-->
  </div>

</div>

{% endblock%}
