{% extends 'base.html' %}

{% block body_class %}post-template{% endblock%}

{% block content %}

<div class="container">
  <header>
    <h1>{{file.title}}</h1>
  </header>

  <div class="tilecont">
    <a href='/' class='singletile work'><p class='tilecontents'>back</p><div></div><span><i class="fa fa-arrow-left fa-5x"></i></span></a><a href='https://twitter.com/jonrutis' target='new' class='singletile social'><div></div></a><a href='https://www.linkedin.com/in/jonathanrutishauser' target='new' class='singletile social'><div></div></a><a href='https://github.com/jrutishauser' target='new' class='singletile social'><div></div></a><a href='/resume.html' target='new' class='singletile social'><div></div></a><a href='#' target='new' class='singletile social'><div></div></a>
    <section>
      {{file.content | safe}}
    </section>
  </div>

</div>

{% endblock%}
