{% extends 'base.html' %}

{% block body_class %}work{% endblock%}

{% block content %}

<div class="container">
  <header>
    <h1>{{file.title}}</h1>
  </header>

  <div class="tilecont {{file.title | lower}}">
    <a href='/' class='singletile work'>
      <p class='tilecontents'>back</p>
      <div></div><span><i class="fa fa-arrow-left fa-5x"></i></span>
    </a><a href='/hausbrewer/' class='singletile work'>
      <div></div>
      <p class='tilecontents'>Hausbrewer</p>
    </a><a href='/susannabot/' class='singletile work'>
      <div></div>
      <p class='tilecontents'>Susannabot</p>
    </a><a href='/colorclock/' class='singletile work'>
      <div></div>
      <p class='tilecontents'>Colorclock</p>
    </a>

  </div>

</div>

{% endblock%}
