/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#theTime {
	color: #FFF;
	text-align: center;
	font-size: 2.3em;
	font-family: 'Abel', sans-serif;
	margin-top: 0;
}
.outline {
	border: 2px solid gray;
	width: 17em;
	margin: 5em auto;
	height: 30em;
	border-radius: 20px;
	background-color: black;
	position: relative;
}
.phonescreen {
	background-image: -ms-linear-gradient(top right, #0A12FF 0%, #140304 100%);
	background-image: -moz-linear-gradient(top right, #0A12FF 0%, #140304 100%);
	background-image: -o-linear-gradient(top right, #0A12FF 0%, #140304 100%);
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #0A12FF), color-stop(1, #140304));
	background-image: -webkit-linear-gradient(top right, #0A12FF 0%, #140304 100%);
	background-image: linear-gradient(to bottom left, #0A12FF 0%, #140304 100%);
	width: 15em;
	height: 22em;
	margin: 4em auto;
	border: 2px solid #2F2F2F;
	padding: 0;
	position: relative;
}
.speaker {
	width: 2em;
	height: 0.3em;
	position: absolute;
	background-color: gray;
	top: 2em;
	right: 7.5em;
	border-radius: 5px;
}
.carrier {
	width: 100%;
	height: 1em;
	color: white;
	position: absolute;
	z-index: 1;
	background-color: black;
}
.screentop {
	width: 100%;
	height: 4em;
	position: absolute;	
	top: 1em;
	opacity: 0.8;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #000000 50%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #000000 50%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #000000 50%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(.5, #000000));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 50%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #000000 50%);
}
.myname {
	position: absolute;
	z-index: 10;
	font-size: 0.75em;
	top: -1em;
}
.slideto {
	width: 100%;
	height: 4em;
	position: absolute;	
	bottom: 0em;
	opacity: 0.8;
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #000000 50%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #000000 50%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #000000 50%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(.5, #000000));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 50%);
	background-image: linear-gradient(to bottom, #FFFFFF 0%, #000000 50%);
}
.homebutton {
	width: 2.5em;
	height: 2.5em;
	position: absolute;
	bottom: 0.5em;
	left: 7em;	
	border-radius: 50%;
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #000000 25%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #000000 25%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #000000 25%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(.25, #000000));
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #000000 25%);
	background-image: linear-gradient(to top, #FFFFFF 0%, #000000 25%);
	border: 1px solid #2F2F2F;
}
.lockbutton {
	width: 2em;
	height: 0.1em;
	position: absolute;
	background-color: gray;
	top: -0.25em;
	right: 1.5em;
	border-radius: 5px;
}
.silence {
	width: 0.2em;
	height: 1.25em;
	position: absolute;
	background-color: gray;
	top: 2em;
	left: -0.25em;
	border-radius: 5px;
}
.volup {
	width: 0.2em;
	height: 0.75em;
	position: absolute;
	background-color: gray;
	top: 4.5em;
	left: -0.25em;
	border-radius: 5px;
}
.voldown {
	width: 0.2em;
	height: 0.75em;
	position: absolute;
	background-color: gray;
	top: 6em;
	left: -0.25em;
	border-radius: 5px;
}
.slider {
	width: 80%;
	height: 3em;
	position: absolute;	
	bottom: 0.5em;
	border-radius: 10px;
	right: 10%;	
	background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #000000 50%);
	background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #000000 50%);
	background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #000000 50%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(.55, #000000));
	background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #000000 50%);
	background-image: linear-gradient(to top, #FFFFFF 0%, #000000 50%);
	opacity: 0.8;
}
.slider p {
	font-family: 'Abel', sans-serif;
	font-size: 1.25em;
	color: #808080;
	margin-top: 0.5em;		
	margin-left: 3em;
}
.fingertab {
	width: 3.5em;
	height: 3em;
	position: absolute;
	bottom: 0;
	border-radius: 10px;
	background-image: -ms-linear-gradient(top, #DEDEDE 0%, #ACACAC 60%);
	background-image: -moz-linear-gradient(top, #DEDEDE 0%, #ACACAC 60%);
	background-image: -o-linear-gradient(top, #DEDEDE 0%, #ACACAC 60%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DEDEDE), color-stop(.60, #ACACAC));
	background-image: -webkit-linear-gradient(top, #DEDEDE 0%, #ACACAC 60%);
	background-image: linear-gradient(to bottom, #DEDEDE 0%, #ACACAC 60%);
}
.fingertab:before {
	content: '\27A1';
	font-style: serif;
	font-size: 2.5em;
	margin-left: 0.3em;
	color: #7C7C7C;
}
.homesquare {
	width: 1em;
	height: 1em;
	position: absolute;
	bottom: 0.75em;
	left: 0.7em;
	border: 1px solid #A2A2A2;
	border-radius: 5px;
}
.camera {
	width: 0.3em;
	height: 0.3em;
	position: absolute;
	background-color: #08144e;
	top: 1.9em;
	left: 6.5em;
	border-radius: 50%;
	border: 2px solid #454545;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
