body {
	padding: 0;
	margin: 0;
  	background-color: black;
}//body
.container {
	position: relative;
	width: 100%;
	height: 100vh;
  	margin: 0;
  	background: url('/assets/images/fence.jpg') repeat-x fixed;
	background-size: auto 100%;
}//container
header {
	padding-top: 20vh;
	.first {
		display: table;
		margin: 0 auto;
	}
	h1 {
		font-size: 5vw;
		color: white;
		margin: 0;
	}
	.second {
			margin: 0 auto;
			color: white;
			display: table;
			.insecond {
				display: inline-block;
				text-align: center;
				padding: 0.5vw 1.5vw 0.5vw 1.5vw;
				background: url('/assets/images/star.jpg');
				p {
					margin: 0;
					font-size: 2.5vw;
				}
			}//insecond
			.insecondtoo {
				margin-left: 1vw;
				font-size: 5vw;
				display: inline-block;
				p {
					margin: 0;
				}
			}//insecondtoo
	}//second
	.third {
		display: table;
		margin: 0 auto;
		font-size: 5.5vw;
		color: white;
			p {
				margin: 0;
			}
		}
	.fourth {
			display: table;
			margin: 0 auto;
			font-size: 5.5vw;
			color: white;
			p {
				margin: 0;
			}
	}
}//header
nav {
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	padding: 0;
	ul {
		list-style-type: none;
		text-align: center;
		display: block;
		padding: 0;
		margin: 0 auto;
		width: 100%;
		li {
		display: inline;
		float: left;
		width: 33.33%;
	}//li
	}//ul
	a {
		font-family: sans-serif;
		font-weight: bold;
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		font-size: 6vw;
		padding-top: 5vw;
		height: 10vw;
  		text-decoration: none;
		color: darkblue;
		background-color: rgba(255, 255, 255, 0.4);
	}//a
	a:hover {
		color: white;
		background-color: rgba(0, 0, 0, 0.4);
	}
	li:first-child:hover {
		background: url('/assets/images/fam.jpg');
		background-size: cover;
	}
	li:nth-child(2):hover {
		background: url('/assets/images/work.jpg');
		background-size: cover;
		background-position: 60% 30%;
	}
	li:nth-child(3):hover {
		background: url('/assets/images/blog.jpg');
		background-size: cover;
		background-position: 60% 30%;
	}
}//nav


// injector
// endinjector
