body {
  padding: 0;
  margin: 0;
  background-color: black; }
  body h1, body h2, body h3, body h4 {
    font-family: 'Oswald', sans-serif; }
  body span, body p, body li, body a {
    font-family: 'Roboto Condensed', sans-serif; }
  body p {
    line-height: 1.35; }

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: url('/assets/images/fence.jpg') repeat-x fixed;
  background-size: auto 100%; }

header {
  padding-top: 20vh; }
  header p {
    line-height: 1; }
  header .first {
    display: table;
    margin: 0 auto; }
  header h1 {
    font-size: 5vw;
    color: white;
    margin: 0; }
  header .second {
    margin: 0 auto;
    color: white;
    display: table; }
    header .second p {
      line-height: 0.9; }
    header .second .insecond {
      display: inline-block;
      text-align: center;
      padding: 0.5vw 1.5vw 0.5vw 1.5vw; }
      header .second .insecond p {
        margin: 0;
        font-size: 2.5vw; }
    header .second .insecondtoo {
      margin-left: 1vw;
      font-size: 5vw;
      display: inline-block; }
      header .second .insecondtoo p {
        margin: 0; }
  header .third {
    display: table;
    margin: 0 auto;
    font-size: 5.5vw;
    color: white; }
    header .third p {
      margin: 0; }
  header .fourth {
    display: table;
    margin: 0 auto;
    font-size: 5.5vw;
    color: white; }
    header .fourth p {
      margin: 0; }

nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 0; }
  nav ul {
    list-style-type: none;
    text-align: center;
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 100%; }
    nav ul li {
      display: inline;
      float: left;
      width: 33.33%; }
  nav a {
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    font-size: 6vw;
    padding-top: 3vw;
    height: 8vw;
    text-decoration: none;
    color: darkblue;
    background-color: rgba(0, 0, 0, 0.4); }
  nav a:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.4); }
  nav li:first-child:hover {
    background: url('/assets/images/aap.jpg');
    background-size: cover;
    background-position: 10% 20%; }
  nav li:nth-child(2):hover {
    background: url('/assets/images/work.jpg');
    background-size: cover;
    background-position: 60% 30%; }
  nav li:nth-child(3):hover {
    background: url('/assets/images/blog.jpg');
    background-size: cover;
    background-position: 60% 30%; }

.about {
  color: white;
  background: url('/assets/images/wood.jpg');
  padding-top: 5vw;
  width: 100%; }
  .about h3 {
    margin-top: 0;
    margin-bottom: 5vw;
    text-align: center; }
  .about .textbody {
    width: 50%;
    margin: 0 auto; }

.work {
  color: white;
  width: 100%;
  padding-top: 5vw;
  background: url('/assets/images/wood.jpg'); }
  .work h3 {
    margin-bottom: 5vw;
    margin-top: 0;
    text-align: center; }
  .work .hausbrewer {
    padding: 0;
    display: table;
    margin: 0 auto; }
  .work .workimg {
    margin: 0;
    display: inline-block;
    width: 30vw;
    vertical-align: top; }
    .work .workimg img {
      width: 100%; }
  .work .workdesc {
    margin: 0;
    width: 50vw;
    display: inline-block;
    vertical-align: top; }
    .work .workdesc p {
      font-size: 1.25em; }
    .work .workdesc h3 {
      font-size: 5vw;
      display: inline;
      margin: 0;
      margin-left: 2vw; }
    .work .workdesc img {
      display: inline;
      height: 3.5vw; }
    .work .workdesc h4 {
      font-size: 2vw; }
    .work .workdesc .icons {
      padding-left: 0; }
      .work .workdesc .icons li {
        list-style-type: none;
        display: inline; }
    .work .workdesc .facts {
      padding-left: 0; }
      .work .workdesc .facts li {
        list-style-type: none;
        margin-bottom: 0.5em;
        font-size: 1.25em; }
      .work .workdesc .facts a {
        color: white; }
      .work .workdesc .facts a:hover {
        text-decoration: overline; }

.blog {
  color: white;
  width: 100%;
  padding-top: 5vw;
  background: url('/assets/images/wood.jpg'); }
  .blog h3 {
    margin-bottom: 5vw;
    margin-top: 0;
    text-align: center; }
